USE [master]
GO
/****** Object:  Database [RwandaEventHubDb]    Script Date: 25/04/2026 21:28:46 ******/
CREATE DATABASE [RwandaEventHubDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RwandaEventHubDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\RwandaEventHubDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RwandaEventHubDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\RwandaEventHubDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RwandaEventHubDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RwandaEventHubDb]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[QRTicketCode] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[BookingStatus] [nvarchar](20) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckInLogs]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ScannedByStaffId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[ScannedAt] [datetime] NOT NULL,
	[Result] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventPricing]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventPricing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[SeatClass] [nvarchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[TotalCapacity] [int] NOT NULL,
	[BookedCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pricing_EventClass] UNIQUE NONCLUSTERED 
(
	[EventId] ASC,
	[SeatClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[VenueId] [int] NOT NULL,
	[ManagerId] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[TransactionRef] [nvarchar](100) NULL,
	[Method] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payment_Booking] UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VenueId] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[Row] [nvarchar](5) NOT NULL,
	[Class] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seats_Venue_Number] UNIQUE NONCLUSTERED 
(
	[VenueId] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAssignments]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAssignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Staff_Assignment] UNIQUE NONCLUSTERED 
(
	[StaffId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsNewUser] [bit] NOT NULL,
	[CreatesAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 25/04/2026 21:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[LayoutJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [lX_Bookings_EventId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Bookings_EventId] ON [dbo].[Bookings]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_Bookings_UserId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Bookings_UserId] ON [dbo].[Bookings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_CheckIn_EventId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_CheckIn_EventId] ON [dbo].[CheckInLogs]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_CheckIn_StaffId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_CheckIn_StaffId] ON [dbo].[CheckInLogs]
(
	[ScannedByStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_Events_ManagerId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Events_ManagerId] ON [dbo].[Events]
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_Events_VenueId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Events_VenueId] ON [dbo].[Events]
(
	[VenueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_Seats_VenueId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Seats_VenueId] ON [dbo].[Seats]
(
	[VenueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [lX_Staff_EventId]    Script Date: 25/04/2026 21:28:46 ******/
CREATE NONCLUSTERED INDEX [lX_Staff_EventId] ON [dbo].[StaffAssignments]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Reserved') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getutcdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[CheckInLogs] ADD  DEFAULT (getutcdate()) FOR [ScannedAt]
GO
ALTER TABLE [dbo].[EventPricing] ADD  DEFAULT ((0)) FOR [BookedCount]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('MoMo') FOR [Method]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[StaffAssignments] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[StaffAssignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsNewUser]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatesAt]
GO
ALTER TABLE [dbo].[Venues] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Event]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_Seat]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[CheckInLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[CheckInLogs] CHECK CONSTRAINT [FK_Log_Booking]
GO
ALTER TABLE [dbo].[CheckInLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[CheckInLogs] CHECK CONSTRAINT [FK_Log_Event]
GO
ALTER TABLE [dbo].[CheckInLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_Staff] FOREIGN KEY([ScannedByStaffId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[CheckInLogs] CHECK CONSTRAINT [FK_Log_Staff]
GO
ALTER TABLE [dbo].[EventPricing]  WITH CHECK ADD  CONSTRAINT [FK_Pricing_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventPricing] CHECK CONSTRAINT [FK_Pricing_Event]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Manager]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Venue] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Venue]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Venue] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Venue]
GO
ALTER TABLE [dbo].[StaffAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffAssignments] CHECK CONSTRAINT [FK_Staff_Event]
GO
ALTER TABLE [dbo].[StaffAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffAssignments] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([BookingStatus]='Cancelled' OR [BookingStatus]='Expired' OR [BookingStatus]='Confirmed' OR [BookingStatus]='Reserved'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([PaymentStatus]='Failed' OR [PaymentStatus]='Success' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [dbo].[CheckInLogs]  WITH CHECK ADD CHECK  (([Result]='InvalidTicket' OR [Result]='WrongEvent' OR [Result]='AlreadyScanned' OR [Result]='Valid'))
GO
ALTER TABLE [dbo].[EventPricing]  WITH CHECK ADD CHECK  (([BookedCount]>=(0)))
GO
ALTER TABLE [dbo].[EventPricing]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[EventPricing]  WITH CHECK ADD CHECK  (([SeatClass]='General' OR [SeatClass]='Regular' OR [SeatClass]='VIP' OR [SeatClass]='VVIP'))
GO
ALTER TABLE [dbo].[EventPricing]  WITH CHECK ADD CHECK  (([TotalCapacity]>(0)))
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Published' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [CK_Events_Dates] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [CK_Events_Dates]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Failed' OR [Status]='Success' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Phone] CHECK  ((len([Phone])=(10) AND ([Phone] like '078%' OR [Phone] like '079%')))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payment_Phone]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD CHECK  (([Class]='General' OR [Class]='Regular' OR [Class]='VIP' OR [Class]='VVIP'))
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD CHECK  (([status]='Booked' OR [status]='Reserved' OR [status]='Availble'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([ROLE]='Attendee' OR [ROLE]='Staff' OR [ROLE]='Manager' OR [ROLE]='Admin'))
GO
ALTER TABLE [dbo].[Venues]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Venues]  WITH CHECK ADD CHECK  (([Type]='Virtual' OR [Type]='Physical'))
GO
USE [master]
GO
